.search-input-container .search-input {
  opacity: 0;
  pointer-events: none;
}
#section-681-18 input::placeholder {
  text-transform: uppercase;
}
#text_block-31-7 {
    font-size: 12px;
}

#headline-11-7 {
  font-size: 76px;
}

#headline-11-7.mobile {
  display: none;
}

#text_block-13-7 {
  font-size: 20px;
  margin-bottom: 32px;
}

#link_button-16-7 {
  padding: 0 5px;
}

.ct-link.product-container {
  width: 33.3%;
}

#div_block-133-18 {
    visibility: hidden;
}

.home-title {
  font-size: 46px;
}

#div_block-23-7 {
  width: 65%;
}

#div_block-12-18 {
  flex-direction: row;
  gap: 20px;
}

body .ct-slider .ct-slide {
  padding: 0 !important;
}
@media (max-width: 767px) {
  #headline-11-7 {
    display: none;
  }
  #headline-11-7.mobile {
    font-size: 26px;
    margin-bottom: 10px;
    display: block;
  }
  #text_block-13-7 {
    font-size: 14px;
  }
  .ct-slider .ct-slide {
    padding: 0px !important;
  }
  .ct-link.product-container {
    width: 100%;
  }
}
