* {
    box-sizing: border-box;
}
:root {
    --bg: #414141;
    --gold: #ffdf58;
    --voltcoin-cg: #9bffcb;
    --second-lvl-bg: #656565;
    --third-lvl-bg: #414141;
}
.gold {
    color: var(--gold);
}

#payment-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding-bottom: 7%;
    padding-top: 6%;
}

#payment-page img {
    width: 99px;
    height: initial;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}
#payment-page button {
    background-color: var(--second-lvl-bg);
    border-radius: 10px;
    color: var(--voltcoin-cg);
    border: var(--voltcoin-cg);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--voltcoin-cg);
    padding: 1vh 0;
}

#logo-button {
    transform: scale(0.9);
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

#payment-page button:hover {
    background-color: var(--voltcoin-cg);
    color: var(--second-lvl-bg);
}

body {
    background-color: var(--bg);
    color: var(--voltcoin-cg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 3.5%;
    height: 100vh;
    width: 100vw;
}

button, a, a:visited, a:focus, a:active, a:hover {
    border: none;
    outline: none;
}

button {
    color: var(--voltcoin-cg);
}

#greetings-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.page {
    width: 100%;
    max-height: 100%;
    height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

#greetings-page h1 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 66.7%;
    transform: translateY(-50%);
}
#greetings-page img {
    width: 99px;
    height: initial;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}

nav button {
    /*width: 16%;*/
    height: 8vh;
    aspect-ratio: 1 / 1;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
nav button img {
    width: 100%;
    cursor: pointer;
}
#pay {
    font-size: 17px;
}

#payment-page #pay4 {
    display: flex;
    justify-content: center;
    background: transparent;
    border: transparent;
    gap: 1%;
}

#clicker-screen {
    position: fixed;
    top: 39%;
    left: 0;
    right: 0;
    transition: transform 0.2s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#circle__button {
    height: 36vh;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--voltcoin-cg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-lvl-bg);
    border-radius: 1000px;
    cursor: pointer;
    overflow: hidden;
}

#circle__button:active {
    transform: scale(0.9);
}

#circle__button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
}

#circle__button:active::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 0.1s, transform 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-10px);
    }
    40%, 80% {
        transform: translateX(10px);
    }
}

#circle__button:hover {
    animation: pulse 1s infinite;
}

#circle__button:active {
    animation: shake 0.5s;
}


#circle__button img {
    height: 65%;
}
.level-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
}
.level-c button {
    width: 33.3%;
    height: 7vh;
    background-color: var(--second-lvl-bg);
    padding: 0vh 15px;
    border-radius: 15px;
    border: 1px solid var(--voltcoin-cg);
    text-align: center;
    font-size: 2vh;
}
.hidden {
    display: none !important;
}

.amount-v {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5px;
    color: var(--gold);
    margin-top: 2vh;
}
.amount-v img {
    height: 5.7vh;
    transform: scale(1.5);
}
#voltcoin-amount {
    font-size: 8vh;
    font-weight: 800;
}

#clicker__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    gap: 3%;
    height: 11vh;
    background-color: var(--second-lvl-bg);
    border-radius: 4vh;
}
#clicker__footer button:nth-child(2n) {
    color: var(--gold);
}
#clicker__footer button {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: var(--third-lvl-bg);
    border: 1px solid var(--voltcoin-cg);
    border-radius: 1.9vh;
    overflow: hidden;
    cursor: pointer;
}
#clicker__footer button img {
    height: 64%;
    width: initial;
}
.TAPS {
    text-align: center;
    margin-bottom: 0;
    margin-top: 2.3vh;
    font-size: 4vh;
}
#app-page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.surprises {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.surprises button {
    cursor: pointer;
    gap: 3%;
    width: 31.8%;
    aspect-ratio:  1 / 1;
    background-color: var(--second-lvl-bg);
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid var(--voltcoin-cg);
    min-height: 53px;
    text-align: center;
}

.surprises button img {
    height: 80%;
    max-height: 80%;
    min-height: 80%;
    width: initial;
}

.mine-factory-button img {
    height: 25px;
}
.mine-factory-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 22.74%;
    border-radius: 12px;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--second-lvl-bg);
    width: 100%;
    margin: 3% 0;
    padding: 1.37vh 2vw;
}

.mine-desc {
    display: flex;
    gap: 5%;
    margin-bottom: 4%;
}

.mine-desc > div {
    width: 47.5%;
    aspect-ratio: 1.5 / 1;
    background-color: var(--second-lvl-bg);
}
.mine-desc > div img {
    /*height: 25px;*/
}

.left-t, .right-t {
    border: 1px solid var(--voltcoin-cg);
    border-radius: 15px;
}

.flex__double {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    height: 9vh;
}

.left-r {
    border-right: 1px solid var(--voltcoin-cg);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-r {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*.left-r, .right-r {*/
.left-r img, .right-r img{
    width: 90%;
}

.right-r {
    text-align: center;
}

.left-r img {
    width: 64%;
}

body .mini__logo {
    width: 10px;
}

.button-text {
    margin: auto;
    font-size: 2.5vh;
    height: 6.8vh;
    display: flex;
    border-top: 1px solid var(--voltcoin-cg);
    align-items: center;
    justify-content: center;
}
}

.button-text {
    text-align: center;
}

.right-r h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.right-r p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin: 0;
}

.power-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
    background-color: var(--second-lvl-bg);
    margin: 2% 0;
    padding: 0 3%;
    border-radius: 15px;
}

.progress {
    background-color: var(--third-lvl-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
    border-radius: 8px;
    padding: 3px 27px;
}

.progress img {
    width: 16px;
}

.power-state {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    font-size: 21px;
    border-radius: 13px;
}

.blant {
    width: 27px;
    aspect-ratio: 1 / 1;
    background-color: var(--voltcoin-cg);
    border: 1px solid black;
    border-radius: 15px;
}
.blant.minus {
    background-color: var(--bg);
    border: 1px solid var(--gold);
}

#power__balance {
    font-size: 18px;
}
